@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f1f;
  font-size: 1em;
}

p,
label,
input,
a {
  letter-spacing: -0.3px;
  text-decoration: none;
}

p,
div,
label {
  color: #bfbfbf;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.logo {
  font-family: "Fira Code", sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}
.logo span {
  color: #f7df1e;
}

.btn {
  border-radius: 8px;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f7df1e;
  color: #1f1f1f;
  outline: 3px solid transparent;
  transition: background-color 600ms ease, color 600ms ease;
}
.btn:hover {
  background-color: rgba(247, 222, 30, 0.1);
  color: #f7df1e;
}

.sm {
  padding: 6px 12px;
  font-size: 12px;
}

.svgimage {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(85%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}
.navbar > div {
  display: inherit;
  align-items: center;
  gap: 4rem;
}
.navbar > div .nav-links {
  display: flex;
  gap: 2rem;
}
.navbar > div .nav-links li a {
  color: #bfbfbf;
  transition: color 600ms ease;
  font-weight: 400;
}
.navbar > div .nav-links li a:hover {
  color: #ffffff;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: calc(100vh - 67px);
  padding-inline: 5%;
  position: relative;
  background: #1f1f1f;
  overflow: hidden;
}
#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: block;
  background-color: rgba(31, 31, 31, 0.5);
  backdrop-filter: blur(10px);
}
#home > div {
  width: 50%;
}
#home .introduction {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  gap: 1rem 0;
  padding-bottom: 150px;
}
#home .introduction .mini-title {
  max-width: 50%;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #f7df1e;
}
#home .introduction h2 {
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
}
#home .introduction .prg {
  font-size: 14px;
  font-weight: 300;
  max-width: 50%;
}
#home .introduction > a.btn {
  margin-top: 1rem;
}
#home .introduction .btn-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#home .introduction .btn-flex a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #292929;
  transition: transform 400ms ease;
}
#home .introduction .btn-flex a:hover, #home .introduction .btn-flex a:active {
  transform: scale(1.06);
}
#home .introduction .btn-flex a img {
  width: 20px;
  height: 20px;
  display: flex;
}
#home > img {
  width: auto;
  height: 90vh;
  object-fit: fill;
  filter: drop-shadow(-10px -10px 6px #161616);
}

#skills {
  display: flex;
  justify-content: center;
}
#skills .container {
  width: auto;
  height: 250px;
  padding-inline: 4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-color: #1f1f1f;
}
#skills .container::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #292929;
  display: block;
  position: absolute;
  z-index: -1;
}
#skills .container::-webkit-scrollbar {
  display: none;
}
#skills .container div {
  display: flex;
  transition: transform 600ms ease;
}
#skills .container div:hover {
  transform: scale(1.1);
}
#skills .container div img {
  width: 60px;
  height: auto;
  object-fit: cover;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 5%;
  height: 100vh;
}
#about > img {
  width: 370px;
  height: 550px;
  object-fit: fill;
  background-color: #292929;
  border-radius: 8px;
  border: 10px solid #292929;
}
#about .about-me {
  height: 550px;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
#about .about-me h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}
#about .about-me p {
  font-size: 14px;
}
#about .about-me .mini-blocks-flex {
  display: inherit;
  gap: 0.5rem;
}
#about .about-me .mini-blocks-flex div {
  width: 133.3333333333px;
  padding: 8px 0;
  border-radius: 8px;
  text-align: center;
  background-color: #292929;
}
#about .about-me .mini-blocks-flex div h4 {
  font-size: 20px;
  line-height: 1;
}
#about .about-me .mini-blocks-flex div p {
  font-size: 12px;
}
#about .about-me > a {
  margin-top: 1rem;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 5%;
  height: 100vh;
}
#projects .introduction {
  display: inherit;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 400px;
  height: 500px;
}
#projects .introduction h2 {
  font-size: 32px;
}
#projects .introduction p {
  font-size: 14px;
}
#projects .grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 150px;
  gap: 1rem;
  width: 600px;
  height: 500px;
}
#projects .grid-projects > div {
  display: inherit;
  background-color: #292929;
  border-radius: 8px;
  box-shadow: rgba(14, 13, 13, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: scale 600ms ease;
}
#projects .grid-projects > div:hover {
  scale: 1.02;
}
#projects .grid-projects > div figure {
  display: flex;
  position: relative;
}
#projects .grid-projects > div figure:hover figcaption, #projects .grid-projects > div figure:active figcaption {
  opacity: 1;
}
#projects .grid-projects > div figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
#projects .grid-projects > div figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  background-image: linear-gradient(to top, rgb(20, 20, 20), rgba(31, 31, 31, 0.3));
  backdrop-filter: blur(3px);
  display: flex;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: opacity 600ms ease, display 600ms ease;
}
#projects .grid-projects > div figure figcaption > div {
  max-width: 50%;
}
#projects .grid-projects > div figure figcaption h4 {
  font-size: 18px;
}
#projects .grid-projects > div figure figcaption p {
  font-size: 10px;
  letter-spacing: 0.5px;
}
#projects .grid-projects > div figure figcaption .popup {
  position: absolute;
  left: -4px;
  margin-top: 1.5rem;
  font-size: 10px;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 8px;
  opacity: 0;
  display: none;
  transition: opacity 600ms ease;
}
#projects .grid-projects > div figure figcaption .btn-popup {
  font-size: 12px;
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}
#projects .grid-projects > div figure figcaption .btn-popup:hover + .popup {
  opacity: 1;
  display: flex;
}
#projects .grid-projects > div figure figcaption .details-skills {
  display: inherit;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
}
#projects .grid-projects > div figure figcaption .details-skills .material-list {
  display: inherit;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#projects .grid-projects > div figure figcaption .details-skills .material-list img {
  width: 15px;
  height: 15px;
}
#projects .grid-projects .first-row {
  grid-column: 1/3 span;
}
#projects .grid-projects .column1 {
  grid-row: 2;
  grid-column: 1;
}
#projects .grid-projects .column2 {
  grid-row: 2;
  grid-column: 2 span;
}

#contact {
  display: grid;
  place-items: center;
  padding-block: 5%;
}
#contact .container {
  width: 400px;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 8px;
  background-color: #292929;
}
#contact .container #form h2 {
  font-size: 24px;
  line-height: 2;
}
#contact .container #form p {
  font-size: 14px;
  max-width: 80%;
  margin-bottom: 1rem;
}
#contact .container #form label {
  display: block;
  font-size: 12px;
  margin-block: 1rem 0.3rem;
}
#contact .container #form input,
#contact .container #form textarea {
  border: 0;
  outline: 0;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  background-color: #1f1f1f;
  border: 1px solid #1d1d1d;
  font-size: 14px;
  font-weight: 300;
  color: #bfbfbf;
  outline: 4px solid transparent;
  transition: border 400ms ease, outline-color 200ms ease;
}
#contact .container #form input:focus,
#contact .container #form textarea:focus {
  outline-color: rgba(247, 222, 30, 0.1);
  border-color: #f7df1e;
}
#contact .container #form textarea {
  max-width: 350px;
  min-width: 350px;
  height: 100px;
  max-height: 200px;
  min-height: 100px;
}
#contact .container #form button {
  margin-block: 1rem;
}
#contact .container .list-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  width: 100%;
}
#contact .container .list-contact .half-contact {
  display: flex;
  margin-top: 0.5rem;
  gap: 1rem;
}
#contact .container .list-contact .half-contact li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #1f1f1f;
  transition: transform 400ms ease;
}
#contact .container .list-contact .half-contact li a:hover, #contact .container .list-contact .half-contact li a:active {
  transform: scale(1.06);
}
#contact .container .list-contact .half-contact li a img {
  width: 20px;
  height: 20px;
  display: flex;
}

#footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #292929;
}
#footer .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
}
#footer .footer-header .navbar-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#footer .footer-header .navbar-socials li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #292929;
  transition: transform 400ms ease;
}
#footer .footer-header .navbar-socials li a:hover, #footer .footer-header .navbar-socials li a:active {
  transform: scale(1.06);
}
#footer .footer-header .navbar-socials li a img {
  width: 20px;
  height: 20px;
}
#footer .footer-header button {
  padding: 0;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}
#footer .footer-header button img {
  width: 20px;
  height: 20px;
}
#footer .footer-finish {
  text-align: center;
  padding-block: 10px;
  font-size: 12px;
}

@media (max-width: 1000px) {
  .btn {
    padding: 9px 18px;
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .sm {
    padding: 8px 16px;
    font-size: 1em;
  }
}

@media (max-width: 1000px) {
  .navbar > div .nav-links {
    display: none;
  }
}

@media (max-width: 1000px) {
  #home {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100vh - 73px);
    padding: 10vh 1rem;
  }
  #home::after {
    display: none;
  }
  #home > div {
    width: 100%;
  }
  #home .introduction {
    padding-bottom: 0;
  }
  #home .introduction .mini-title {
    max-width: 100%;
    font-size: 20px;
  }
  #home .introduction h2 {
    font-size: 64px;
  }
  #home .introduction .prg {
    max-width: 100%;
  }
  #home img {
    display: none;
  }
}

@media (max-width: 1000px) {
  #skills .container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 20vh 1rem;
  }
}

@media (max-width: 1000px) {
  #about {
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  #about > img {
    width: 300px;
    height: 430px;
  }
  #about .about-me {
    padding-inline: 1rem;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #about .about-me .mini-blocks-flex {
    width: 100%;
  }
  #about .about-me .mini-blocks-flex div {
    width: 33.3333333333%;
  }
}

@media (max-width: 1000px) {
  #projects {
    height: auto;
    width: auto;
    padding: 20vh 1rem;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  #projects .introduction {
    height: auto;
    width: auto;
  }
  #projects .grid-projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: auto;
    gap: 100px;
  }
  #projects .grid-projects > div figure figcaption .popup {
    z-index: 9999;
    height: 80px;
  }
  #projects .grid-projects .first-row {
    grid-row: 1;
    grid-column: 1;
  }
  #projects .grid-projects .column1 {
    grid-column: 1;
  }
  #projects .grid-projects .column2 {
    grid-row: 3;
    grid-column: 1;
  }
}

@media (max-width: 1000px) {
  #contact {
    padding: 1rem;
    padding-bottom: 20vh;
    display: flex;
    place-items: unset;
  }
  #contact .container {
    width: 100%;
  }
  #contact .container #form {
    width: 100%;
  }
  #contact .container #form input,
  #contact .container #form textarea {
    padding: 9px 18px;
    font-size: 18px;
    border-width: 2px;
  }
  #contact .container #form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    max-height: 300px;
    min-height: 200px;
  }
}

@media (max-width: 1000px) {
  #footer .footer-header {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
}

/*# sourceMappingURL=global.css.map */
