@use "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: colors.$bg;
  font-size: 1em;
}

p,
label,
input,
a {
  letter-spacing: -0.3px;
  text-decoration: none;
}

p,
div,
label {
  color: colors.$c-prg-dark;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  color: colors.$c-title-dark;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.logo {
  font-family: "Fira Code", sans-serif;
  font-size: 24px;
  color: colors.$c-title-dark;
  font-weight: 500;

  span {
    color: colors.$c-primary;
  }
}

.btn {
  border-radius: 8px;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;

  background-color: colors.$c-primary;
  color: colors.$bg;
  outline: 3px solid transparent;

  transition: background-color 600ms ease, color 600ms ease;

  &:hover {
    background-color: colors.$c-primary-trp;
    color: colors.$c-primary;
  }
}

.sm {
  padding: 6px 12px;
  font-size: 12px;
}

.svgimage {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%)
    contrast(85%);
}
