// Arquivo principal

@use "default";
@use "links";
@use "colors";
@use "style";

// Reponsividade

$breakpoints: (
  mobile: 1000px,
  desktop: 1024px,
  monitor: 1920px,
);

@mixin respond-to($device) {
  @media (max-width: map-get($breakpoints, $device)) {
    @content;
  }
}

body {
  @include respond-to(mobile) {
    font-size: 18px;
  }
}

.btn {
  @include respond-to(mobile) {
    padding: 9px 18px;
    font-size: 1em;
  }
}

.sm {
  @include respond-to(mobile) {
    padding: 8px 16px;
    font-size: 1em;
  }
}

.navbar {
  @include respond-to(mobile) {
    & > div {
      .nav-links {
        display: none;
      }
    }

    .navbar-buttons {
      button {
        display: flex;
      }
    }
  }
}

#home {
  @include respond-to(mobile) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100vh - 73px);
    padding: 10vh 1rem;

    &::after {
      display: none;
    }

    & > div {
      width: 100%;
    }

    .introduction {
      padding-bottom: 0;

      .mini-title {
        max-width: 100%;
        font-size: 20px;
      }

      h2 {
        font-size: 64px;
      }

      .prg {
        max-width: 100%;
      }

      .btn-flex {
        margin-top: 2rem;
      }
    }

    img {
      display: none;
    }
  }
}

#skills {
  .mini-title {
    margin-top: 20vh;
  }

  @include respond-to(mobile) {
    .container {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      padding: 2rem 1rem;
      margin-bottom: 20vh;
    }
  }
}

#about {
  @include respond-to(mobile) {
    flex-direction: column;
    padding: 0;
    height: auto;

    & > img {
      width: 300px;
      height: 430px;
    }

    .about-me {
      padding-inline: 1rem;
      width: 100%;
      max-width: 100%;
      height: auto;

      .mini-blocks-flex {
        width: 100%;
        div {
          width: calc(100% / 3);
        }
      }
    }
  }
}

#projects {
  @include respond-to(mobile) {
    height: auto;
    width: auto;
    padding: 20vh 1rem;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    .introduction {
      height: auto;
      width: auto;
    }

    .grid-projects {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      width: 100%;
      height: auto;
      gap: 100px;

      & > div {
        figure {
          padding: 1rem;
          flex-direction: column;

          & > img {
            width: 100%;
            height: 200px;
            object-fit: fill;
          }

          figcaption {
            position: relative;
            opacity: 1;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            background-color: none;
            border-radius: 0;
            background-image: none;
            padding-inline: 0;

            & > div {
              max-width: 100%;
            }

            p {
              font-size: 14px;
            }

            .details-skills {
              margin-top: 2rem;
              align-items: start;
            }

            .btn-hide-mobile {
              display: none;
            }

            .popup {
              opacity: 1;
              display: flex;
              position: static;
              margin: 0;
              padding: 0;
              background-color: transparent;
              font-size: 14px;
              border-radius: 0;
            }
          }
        }
      }

      .first-row {
        grid-row: 1;
        grid-column: 1;
      }

      .column1 {
        grid-column: 1;
      }

      .column2 {
        grid-row: 3;
        grid-column: 1;
      }
    }
  }
}

#contact {
  @include respond-to(mobile) {
    padding: 1rem;
    padding-bottom: 20vh;
    display: flex;
    place-items: unset;

    .container {
      width: 100%;

      #form {
        width: 100%;

        input,
        textarea {
          padding: 9px 18px;
          font-size: 18px;
          border-width: 2px;
        }

        textarea {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          height: 200px;
          max-height: 300px;
          min-height: 200px;
        }
      }

      .list-contact {
        margin-top: 1rem;

        .half-contact {
          margin-top: 1rem;

          li a {
            width: 50px;
            height: 50px;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

#footer {
  @include respond-to(mobile) {
    .footer-header {
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }
  }
}

// sass --watch scss/global.scss css/global.css
