@use "colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.navbar > div {
  display: inherit;
  align-items: center;
  gap: 4rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: colors.$c-prg-dark;
}

.nav-links li a.active {
  color: colors.$c-title-dark;
}

#home {
  display: flex;
  height: 100vh;
  padding: 5%;
}

#home > div {
  width: 50%;
}

#home .introduction {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem 0;
}

#home .introduction .mini-title {
  font-size: 20px;
  text-transform: uppercase;
  color: colors.$c-primary;
}

#home .introduction h2 {
  font-size: 80px;
  line-height: 1.1;
}

#home .introduction .prg {
  font-size: 14px;
  font-weight: 300;
  max-width: 50%;
}

#home .introduction .btn-flex {
  display: flex;
  gap: 1rem;
  
}
