@use "colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.navbar > div {
  display: inherit;
  align-items: center;
  gap: 4rem;
}

.nav-links {
  display: flex;
  gap: 2rem;

  li a {
    color: colors.$c-prg-dark;

    &.active {
      color: colors.$c-title-dark;
    }
  }
}

#home {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 67px);
  padding: 5%;
  padding-bottom: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(10px);
  }

  & > div {
    width: 50%;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem 0;

    .mini-title {
      font-size: 20px;
      font-weight: 500;
      padding: 6px 12px;
      border-radius: 6px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: colors.$c-primary;
      background-color: colors.$c-primary-trp;
    }

    h2 {
      font-size: 80px;
      line-height: 1.1;
      max-width: 70%;
    }

    .prg {
      font-size: 14px;
      font-weight: 300;
      max-width: 50%;
    }

    .btn-flex {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid colors.$c-border;

        img {
          width: 20px;
          height: 20px;
          display: flex;
        }
      }
    }
  }

  & > img {
    width: 400px;
    background-color: colors.$c-border;
    border-radius: 100% 100% 0 0;
  }
}

#skills {
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 5%;
  overflow-x: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  div {
    display: flex;
    transition: transform 600ms ease;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 60px;
      height: auto;
      object-fit: cover;
    }
  }
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 10%;

  & > img {
    width: 400px;
    height: 600px;
    background-color: colors.$c-border;
    border-radius: 30%;
  }

  .about-me {
    width: 400px;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    h2 {
      font-size: 32px;
      font-weight: 500;
      line-height: 1;
    }

    p {
      font-size: 14px;
    }

    .mini-blocks-flex {
      display: inherit;
      gap: 0.5rem;

      div {
        width: calc(400px / 3);
        padding: 8px 0;
        border-radius: 8px;
        text-align: center;
        background-color: colors.$c-border;

        h4 {
          font-size: 20px;
          line-height: 1;
        }

        p {
          font-size: 12px;
        }
      }
    }

    & > a {
      margin-top: 1rem;
    }
  }
}

#projects {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 5%;

  .introduction {
    display: inherit;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    width: 400px;

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 14px;
    }
  }

  .grid-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 150px;
    gap: 1rem;
    width: 600px;
    height: 450px;

    & > div {
      display: inherit;
      background-color: colors.$c-border;
      border-radius: 8px;
      box-shadow: rgba(14, 13, 13, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

      transition: scale 600ms ease;

      &:hover {
        scale: 1.03;
      }

      figure {
        display: flex;
        position: relative;

        &:hover figcaption,
        &:active figcaption {
          display: flex;
        }

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        figcaption {
          position: absolute;
          left: 0;
          bottom: 0;
          height: auto;
          width: 100%;
          justify-content: space-between;
          align-items: end;
          padding: 1rem;
          background-image: linear-gradient(
            to top,
            rgb(20, 20, 20),
            rgba(31, 31, 31, 0.3)
          );
          backdrop-filter: blur(3px);
          display: none;
          border-radius: 0 0 8px 8px;

          & > div {
            max-width: 50%;
          }

          h4 {
            font-size: 18px;
          }

          p {
            font-size: 10px;
            letter-spacing: 0.5px;
          }

          .btn-popup {
            font-size: 12px;
            text-decoration: underline;
            color: colors.$c-title-dark;
            cursor: pointer;

            &:hover + .popup {
              display: block;
            }
          }

          .popup {
            position: absolute;
            left: -4px;
            margin-top: 1.5rem;
            font-size: 10px;
            letter-spacing: 0.5px;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
            padding: 0.5rem;
            border-radius: 8px;
            display: none;
          }

          .details-skills {
            display: inherit;
            flex-direction: column;
            align-items: end;
            gap: 0.5rem;

            .material-list {
              display: inherit;
              flex-wrap: nowrap;
              gap: 0.5rem;

              img {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }

    .first-row {
      grid-column: 1 / 3 span;
    }

    .column1 {
      grid-row: 2;
      grid-column: 1;
    }

    .column2 {
      grid-row: 2;
      grid-column: 2 span;
    }
  }
}
